<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683225156478-cu55rkt6cbri6m08gpapsi4mq9bp9qnc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683225156478-cu55rkt6cbri6m08gpapsi4mq9bp9qnc</string>
	<key>API_KEY</key>
	<string>AIzaSyBf3BiilfIVmA6v5CjRq0p1zSi-2U8v8qo</string>
	<key>GCM_SENDER_ID</key>
	<string>683225156478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.menotes</string>
	<key>PROJECT_ID</key>
	<string>me-note-app</string>
	<key>STORAGE_BUCKET</key>
	<string>me-note-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683225156478:ios:5f5d6782fabe424d85412f</string>
</dict>
</plist>